@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #eaf1fa;
    font-family: 'Roboto Condensed', sans-serif;
}

.unknown-app {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    min-width: 400px;
    margin: 0 auto;
    padding: 0 10px;
}

.unknown-app__component {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 380px;
    padding: 50px 70px;
}

.component-left, .component-right {
    max-width: 100%;
    min-width: 300px;
    padding: 10px;
}

.component-left {
    flex: 1 0 40%;
    margin-bottom: 10px;
}

.component-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.component-right__lcol, .component-right__rcol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 520px;
    flex: 1 0 50%;
    min-width: 310px;
}

.component-right__lcol > *:first-child, .component-right__rcol > *:first-child{
    margin-bottom: 20px;
}

.component-right__rcol {
    justify-content: flex-end;
}

.component-right__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 290px;
    height: 240px;
    padding: 25px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}

.component-right__item > div {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}

.component-right__item > div > img{
    width: 100%;
    height: 100%;
}

.item__header {
    color: #1a237e;
    font-size: 20px;
    font-weight: 900;
}

.item__desc {
    color: #6e7bc6;
    font-size: 14px;
}

.component-left > p {
    margin-bottom: 10px;
}

.component-left__upheader {
    text-transform: uppercase;
    font-size: 10px;
    color: #707dc8;
}

.component-left__header {
    font-size: 30px;
    font-weight: 700;
    color: #1a237e;
}

.component-left__header > span {
    color: #314ffe;
}

.component-left__desc {
    font-size: 14px;
    color: #6e7bc6;
}

.component-left__button {
    width: 86px;
    height: 36px;
    background-color: #ffab02;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.component-left__button:hover {
    background-color: rgb(224, 150, 0);
}

@media (max-width: 800px) {
    .unknown-app__component {
        padding: 25px 35px;
    }
}

@media (max-width: 730px) {
    .component-right__rcol {
        justify-content: flex-start;
    }
}

@media (max-width: 420px) {
    .component-right {
        padding-left: 0;
    }
}